@model IEnumerable<SistemaWeb.Models.Actividad>

@{
    ViewData["Title"] = "Actividades";
}

<h1>Listado de Actividades</h1>

<p>
    <a asp-action="Crear" class="btn btn-primary">Crear Nueva Actividad</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Fecha</th>
            <th>Cupo</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Codigo)</td>
            <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
            <td>@item.FechaRealizacion.ToShortDateString()</td>
            <td>@Html.DisplayFor(modelItem => item.Cupo)</td>
            <td>@Html.DisplayFor(modelItem => item.Estado)</td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.Codigo" class="btn btn-warning btn-sm">Editar</a>
            </td>
        </tr>
}
    </tbody>
</table>